.navbar {
    display: flex;
    gap: 2px;
}

.nav-item {
    color: #cdf5ff;
    cursor: pointer;
    user-select: none;

    background: linear-gradient(
        45deg,
        rgba(53, 58, 64, 1) 34%,
        rgba(74, 78, 82, 1) 34%,
        rgba(74, 78, 82, 1) 66%,
        rgba(53, 58, 64, 1) 67%,
        rgba(53, 58, 64, 1) 100%
    );

    width: 175px;
    padding: 10px;
    text-align: center;

    clip-path: polygon(0% 0%, 90% 0%, 100% 35%, 100% 100%, 0% 100%);
    transition-duration: 0.2s;
}

.nav-item:hover {
    color: #ffffff;
    background: linear-gradient(
        45deg,
        rgba(53, 58, 64, 1) 34%,
        rgba(74, 78, 82, 1) 34%,
        rgba(74, 78, 82, 1) 66%,
        rgba(53, 58, 64, 1) 67%,
        rgb(164, 164, 164) 100%
    );

    clip-path: polygon(0% 0%, 90% 0%, 100% 35%, 100% 100%, 0% 100%);
}
