#sidebar {
    display: flex;
    flex: 2;
    flex-direction: column;
    gap: 15px;
}

#pal-list {
    min-width: 160px;
    padding: 15px 15px 0px 15px;
    overflow-y: scroll;

    display: flex;
    flex-direction: column;
    gap: 15px;
}

#pal-list::-webkit-scrollbar {
    width: 5px;
}

#pal-list::-webkit-scrollbar-track {
    background: rgba(59, 67, 70, 0.9);
}

#pal-list::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 1);
    border-radius: 1px;
}

#pal-list::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.5);
}

.last-card {
    border: 3px solid gray;
    color: white;
    font-size: 13px;

    cursor: pointer;
    user-select: none;

    background: linear-gradient(
        -45deg,
        rgba(53, 58, 64, 1) 34%,
        rgba(74, 78, 82, 1) 34%,
        rgba(74, 78, 82, 1) 66%,
        rgba(53, 58, 64, 1) 67%,
        rgba(53, 58, 64, 1) 100%
    );
    transition-duration: 0.2s;

    display: flex;
    justify-content: space-evenly;
}

.last-card > div {
    text-align: center;
    padding: 10px;
}

.last-card:hover {
    border: 3px solid rgba(0, 156, 255, 1);
    background: linear-gradient(
        -45deg,
        rgba(0, 156, 255, 1) 34%,
        rgba(51, 176, 255, 1) 34%,
        rgba(51, 176, 255, 1) 66%,
        rgba(0, 156, 255, 1) 67%,
        rgba(0, 156, 255, 1) 100%
    );
}
